body{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.Title-Section{
  background-color: #5DB9FF;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
.Title-Section input{
  border: 1px solid #4ca8ee;
  height: 24px;
  width: 200px;
  border-width: 0px;
  border-radius: 14px;
  margin: 10px;
}
.Title-Section button{
  height: 24px;
  background: white;
  border-radius: 14px;
  color: white;
  border: none;
  background-color: #4ca8ee;
  width: 200px;
  font-size: 14px;
  margin: 5px;
  
}
.Title-Section  button:hover{
  cursor: pointer;

}

.Display-Section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Display-Section h4, h3{
  margin: 5px;
}